

.skill-set{
    padding: 10rem 0 10rem 0;
    background-color: $primary-color;/* hsl(211, 100%, 47%);  */ 
}

.skill-right{
   & img{
       width: 100%;
   }
   @include responsive(tab-700){
    display: none;
}
}

.col-skill{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $pure-white; 
    transition: transform ease-in 1s;

    @include responsive(tab-700){
        align-items: center;
    }

    &:hover{
        transform: scale(1.2,1.2);
    }


    small{
        font-weight: 600;
    }
   
}
